.logo {
    height: 93px;
    margin-top: -42px;
    padding-top: 9px;
    width: 107px;
}




@media (max-width: 750px){
 .logo {
	    height: 52px;
	    margin-top: -23px;
	    width: 63px;
	}
}

@media (min-width: 751px) {
    /* For mobile phones: */
	   .logo img{
		height: 99px;
		max-width: initial;
	}
}

.payment-method11{
	text-align: right;
}