
@media only screen and (max-width: 600px) {
    .newsletter-form form {
    padding-left: 100px;
    padding-right: 0;
    width: 333px;
    right: -111px;

    }
}
@media only screen and (max-width: 600px) {
    .welcome-banner {
    padding-left: 0px;
    
    }
}


@media only screen and (min-device-width: 1080px) and (max-device-width: 1920px) {
    .main-nav>ul {
    display: none;
    
    }
}

@media only screen and (max-width: 767px) {
    .product-pagi-nav.pull-right.list-inline {
        position: absolute;
        left: -18px;
}

/*@media only screen and (max-width: 600px) {
      .wpb_wrapper  {
    
      	position: relative;
    }
}*/

/*@media only screen and (max-width: 600px) {
      .banner-adv zoom-image  {

      	position: absolute;
    	

    }
}*/
/*@media only screen and (max-width: 600px) {
      .adv-thumb-link>img  {

      	position: absolute;
    	width: 50%;

	}

}*/
/*************************************************/
/*
@media only screen and (max-width: 600px) {
      .welcome-banner  {

      	position: relative;

	}
	
}

@media only screen and (max-width: 600px) {
      .wpb_wrapper  {

      	position: relative;

	}
	
}


@media only screen and (max-width: 600px) {
      .intro-about  {

      	position: absolute;
      	padding-right: 28px;

	}
	
}
@media only screen and (max-width: 600px) {
      .title30  {

      	padding-bottom: 145px;

	}
	
}




*/